<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            应用管理
        </div>
        <table class="table">
            <thead>
            <tr>
                <th colspan="2">应用信息</th>
                <th colspan="2">开发者信息</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>应用名称</td>
                <td>你好新鲜</td>
                <td>开发人员</td>
                <td>喵喵,兔兔</td>
            </tr>
            <tr>
                <td>应用类型</td>
                <td>跨平台APP</td>
                <td>联系方式</td>
                <td>tutu@helloFresh.com</td>
            </tr>
            <tr>
                <td>程序语言</td>
                <td>html5+nodejs</td>
                <td>颜值</td>
                <td>100</td>
            </tr>
            <tr>
                <td>数据库</td>
                <td>mongodb</td>
                <td>地址</td>
                <td>华师大3舍</td>
            </tr>
            </tbody>

        </table>
    </div>
</div>